* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    width: 100%;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 100px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: all 0.3s;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    font-weight: bold;
    color: #009879;
    cursor: pointer;
}
