* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    width: 100%;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 70px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: all 0.3s;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    font-weight: bold;
    color: #009879;
    cursor: pointer;
}

.buttons {
    margin-top: 50px;
}

.btn {
    padding: 16px;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.2s;
}

.btn-small {
    padding: 10px;
    border-radius: 8px;
    font-size: 0.8rem;
}

.btn:hover {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 18px;
    background-color: rgb(158, 212, 108);
    color: #000;
}

.btn-add {
    background-color: #79ffe4;
    margin-right: 80px;
}

.btn-search {
    background-color: #41d0f8;
}

.btn-edit {
    margin-right: 10px;
    background-color: rgb(211, 241, 100);
}

.btn-delete {
    background-color: rgb(241, 111, 111);
}

.btn-edit:hover {
    font-size: 0.9rem;
    padding: 12px;
    background-color: rgb(211, 241, 100);
    color: #000;
}

.btn-delete:hover {
    font-size: 0.9rem;
    padding: 12px;
    background-color: rgb(241, 111, 111);
    color: #000;
}

.hidden {
    display: none!important;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 800px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}

.modal .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    margin-bottom: 15px;
    justify-content: space-between;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
}

.modal .count {
    width: 5rem;
}

.btn-close {
    font-weight: bold;
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 20px;
    vertical-align: middle;
}

.btn-close:hover {
    font-size: initial;
    padding: 0.5rem 0.7rem;
    background-color: rgb(26, 26, 26);
    color: #ddd;
}

.btn-submit {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -25%);
    margin-top: 1rem;
}

.btn-submit:hover {
    font-size: initial;
    font-weight: bold;
    background-color: #96e5fb;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.search-box {
    margin: 2rem auto -20px auto;
    max-width: 50%;
    background-color: #a1cacc;
    padding: 1rem 2rem;
    border-radius: 20px;
}

.search-box .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
}

.search-box .grid-item {
    text-align: left;
}

.search-box .grid-item input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
}

.search-box .search-count {
    width: 5rem;
}

.btn-find {
    margin-bottom: -5px;
    margin-top: 5px;
}